/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face {
  font-family: 'AbhayaLibre-Regular';
  src: url(../fonts/AbhayaLibre-Regular.ttf);
  font-display: swap; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "AbhayaLibre-Regular", sans-serif;
  line-height: 1.2;
  letter-spacing: .1rem;
  text-rendering: optimizeLegibility; }

section {
  padding: 6rem 1rem; }

footer {
  padding-top: 6rem; }

a {
  text-decoration: none; }

img, embed, object, video {
  max-width: 100%; }

.heading-1, .heading-2 {
  font-family: "AbhayaLibre-Regular", sans-serif;
  font-weight: 100;
  color: #555; }

.heading-1 {
  font-size: 3.75rem;
  line-height: .9;
  color: #c7c7c7;
  letter-spacing: .1rem; }

.heading-2 {
  font-size: 3rem;
  line-height: 1.16;
  text-align: center;
  word-spacing: .2rem; }
  .heading-2 a {
    color: #555; }

.heading-2:after {
  display: block;
  height: 2px;
  background-color: #EF6C00;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 1rem; }

p {
  font-size: 2.4rem;
  padding-top: 1.75rem;
  word-spacing: .5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #737373; }

.btn {
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

.mb-xs {
  margin-bottom: 1rem; }

.mb-sm {
  margin-bottom: 1.5rem; }

.mb-md {
  margin-bottom: 3rem !important; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/hero_mobile.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero_mobile.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero_mobile.jpg);
  background-position: top center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr -webkit-min-content;
  -ms-grid-rows: 1fr min-content;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content; }

.top-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr;
  -ms-grid-rows: min-content 1fr;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  /*
     @media screen and (min-width: 45em) {
          grid-template-columns: 15rem minmax(57.5rem, 70rem) ;
          grid-template-rows: min-content;
          justify-content: space-between;
     }*/ }
  .top-nav__logo-black {
    display: none; }
  .top-nav__logo-box {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    /*
          @media screen and (min-width: 45em) {
               grid-column: 1 / 2;
               grid-row: 1 / 2;
          }*/ }
  .top-nav__logo {
    height: 10.75rem;
    /*
          @media screen and (min-width: 45em) {
               height: 7.5rem;  // decrease the logo size
               box-sizing: content-box;
               padding: 1rem 0;
          }*/ }
  .top-nav__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1px 1fr 1px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    /*
          @media screen and (min-width: 45em) {
               grid-template-columns: repeat(6, 1fr);
               align-items: center;
               justify-items: center;

               grid-row-gap: unset;
               grid-column-gap: unset;
          }*/ }
  .top-nav__links > div {
    -webkit-box-shadow: 0 0 0 1px #808080;
            box-shadow: 0 0 0 1px #808080;
    /*
          @media screen and (min-width: 45em) {
              box-shadow: none;
          }*/ }
  .top-nav__link .active {
    background-color: rgba(255, 153, 0, 0.3); }
  .top-nav__link a:link,
  .top-nav__link a:visited {
    border-bottom: 3px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    padding: .8rem 1.4rem .5rem; }
  .top-nav__link a:hover {
    border-bottom: 3px solid #EF6C00; }
  .top-nav__link-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.8rem;
    color: #fff;
    /*
          @media screen and (min-width: 60em) {
               flex-direction: row;
          }*/ }

.fa {
  display: block;
  height: 25px;
  width: 25px;
  fill: #fff;
  padding-bottom: .3rem; }

.sticky {
  -ms-grid-rows: -webkit-min-content;
  -ms-grid-rows: min-content;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5000;
  min-height: auto; }

/*
.sticky .top-nav__logo {
     @media screen and (min-width: 45em) {
          display: none;
     }
}*/
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .sticky {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); } }

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .sticky {
    background-color: rgba(255, 255, 255, 0.95); } }

/*
.sticky .top-nav__logo-black { //----for black logo 

     @media screen and (min-width: 45em) {
          // margin-top: .25rem;
          box-sizing: content-box;
          padding: .4rem 0;
          
          height: 5rem; 
          width: auto;
          display: block;
     }
}*/
.sticky div a:link,
.sticky div a:visited {
  color: #737373;
  padding: .8rem 0 .5rem; }

.sticky div .active:link,
.sticky div .active:visited {
  color: #EF6C00; }
  .sticky div .active:link .fa,
  .sticky div .active:visited .fa {
    fill: #EF6C00; }

.sticky .fa {
  fill: #737373; }

.sticky .link-text {
  font-size: 1.125rem;
  letter-spacing: .075rem;
  font-weight: 600; }

.sticky .top-nav__links {
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 0; }

.sticky .top-nav__links > div {
  -webkit-box-shadow: 1px 0 0 0 #c7c7c7;
          box-shadow: 1px 0 0 0 #c7c7c7;
  /*
     @media screen and (min-width: 45em) {
          box-shadow: none;
     }*/ }

.sticky .top-nav__logo-box {
  display: none;
  /*
     @media screen and (min-width: 45em) {
          display: block;
     }*/ }

.sticky a .active {
  color: #fff; }

.main-heading {
  margin: 0 7.5vw 22.5vw;
  text-align: center; }
  .main-heading p {
    font-size: 2.25rem;
    word-spacing: .2rem;
    color: #c7c7c7;
    padding-top: 0; }

.pirith {
  background-color: #ddd; }

.grid-gatha-pirith li {
  line-height: 5rem; }
  .grid-gatha-pirith li a {
    font-size: 2.75rem;
    color: brown;
    padding-left: 1rem; }
  .grid-gatha-pirith li div p {
    font-family: Georgia,"Bitstream Charter", serif;
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 1.1; }

.about {
  text-align: center; }

.section-book {
  font-family: sans-serif; }

.book {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: .25rem;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3); }
  .book__form {
    width: 100%;
    padding: 6rem 3rem; }

.form__group {
  margin-bottom: .5rem; }

.form .inputWithIcon input {
  padding-left: 5.5rem; }

.form .inputWithIcon {
  position: relative; }

.form .inputWithIcon div {
  position: absolute;
  left: 1rem;
  top: 1.4rem;
  padding: 0 .8rem;
  color: #969696;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 2.5rem; }

.form .inputWithIcon input:focus + div {
  color: #555; }

.form__input, .form__textarea {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  color: #737373;
  border-radius: .25rem;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  border-bottom: 3px solid transparent;
  /* &&& */
  width: 100%;
  display: block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  /* border-botton animation */
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
  .form__input:focus, .form__textarea:focus {
    outline: none;
    /*remove the blue outline of the boxes*/
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #00c800;
    /* &&& */
    /* also added this to the initial state. because when add the border it moves down a bit the entire box*/ }
  .form__input:focus:invalid, .form__textarea:focus:invalid {
    /* if the user enterd data to the fields are invalied, it gets the botton border dark */
    border-bottom: 3px solid #EF6C00; }
  .form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
    /* set the place holder text color.*/
    color: #737373; }
  .form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
    color: rgba(115, 115, 115, 0.75);
    font-size: 1.6rem; }
  .form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
    color: rgba(115, 115, 115, 0.75);
    font-size: 1.6rem; }
  .form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
    color: rgba(115, 115, 115, 0.75);
    font-size: 1.6rem; }
  .form__input::placeholder, .form__textarea::placeholder {
    color: rgba(115, 115, 115, 0.75);
    font-size: 1.6rem; }

.form__label {
  font-size: 1.2rem;
  color: rgba(115, 115, 115, 0.85);
  margin-left: 5.6rem;
  display: block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  /* OOO */
  letter-spacing: .075rem; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
      -ms-transform: translateY(-4rem);
          transform: translateY(-4rem); }

.form .btn--green {
  width: 100%; }

.letter-icon svg {
  fill: #737373; }

/*
// below is for php section=================================================================================================================
.form-messages {
     width: 70%;
     margin: 0 auto;
     padding: 1rem;
     border-radius: .3rem;
     margin-bottom: 3rem;
     text-align: center; //roshan
     color: #333;
}

.success {
     background-color: rgba(38, 191, 68, 0.8);
}

.error {
     background-color: rgba(209, 46, 46, 0.8);
}
*/
.footer {
  background-color: #DADDE1; }
  .footer .social {
    border: .1rem #a4a4a4;
    border-style: solid none; }
  .footer span {
    display: block; }
  .footer .footer-content {
    width: 95%;
    margin: 0 auto;
    text-align: center; }
  .footer .footer-content > * {
    padding-bottom: 2rem; }
  .footer .sabba-danan {
    font-size: 2.25rem; }
  .footer .copy-credit {
    width: 70vw;
    font-family: sans-serif;
    font-size: 1.15rem;
    margin: 0 auto;
    line-height: 1.75;
    color: #a83f00; }
    .footer .copy-credit span {
      display: block; }
  .footer .fa-facebook-f {
    fill: #3b5998; }
  .footer .fa-twitter {
    fill: #55acee; }
  .footer .fa-linkedin-in {
    fill: #007bb5; }
  .footer .fa-youtube {
    fill: #bb0000; }
  .footer .fa-instagram {
    fill: #125688; }
  .footer .fa-pinterest-p {
    fill: #cb2027; }

.ffa {
  height: 1.8em;
  width: 1.8em;
  padding: 0.5rem 0.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 5px 2px; }

.ffa:hover {
  opacity: 0.7; }

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 0.95;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 0.95;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.sticky {
  -webkit-animation: slide-down 0.7s;
  animation: slide-down 0.7s; }

/*
.top-nav__link {
     transition: transform 250ms;
     animation: scaleup 350ms ;
}*/
.top-nav__link:focus-within {
  -webkit-animation: scaleup 450ms;
          animation: scaleup 450ms; }

@-webkit-keyframes scaleup {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes scaleup {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*
.fab{
     border-radius: 50%;
     margin:0;
     padding: 20px;
}
   
.material{
     position:relative;
     color:white;
     margin: 20px auto;
     height:400px;
     width:500px;
     background:#f45673;   
}*/
.ripple {
  overflow: hidden; }

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: ripple-animation 2s;
          animation: ripple-animation 2s; }

@-webkit-keyframes ripple-animation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4; }
  to {
    -webkit-transform: scale(100);
            transform: scale(100);
    opacity: 0; } }

@keyframes ripple-animation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4; }
  to {
    -webkit-transform: scale(100);
            transform: scale(100);
    opacity: 0; } }

.top-nav__link-box {
  position: relative;
  -webkit-tap-highlight-color: transparent; }

.grid-gatha-pirith li a {
  -webkit-tap-highlight-color: transparent; }

.btn {
  /*
     &--animated {
          animation: moveInBottom .4s ease-out .75s; //.75s is the animatino delay 
          animation-fill-mode: backwards; // we could see button is visible before the animation start, to fix this we use this. this automaticaly adds the styles of 0% that is on the @keyframe before the animation start 
     }*/ }
  .btn, .btn:link, .btn:visited {
    padding: 1.5rem 3rem;
    border-radius: 0.25rem;
    /*to make the button round */
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    /* to align the ::after psudo button */
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    cursor: pointer; }
  .btn:hover {
    -webkit-transform: translateY(-0.3rem);
        -ms-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      -webkit-transform: scaleX(1.2) scaleY(1.4);
          -ms-transform: scaleX(1.2) scaleY(1.4);
              transform: scaleX(1.2) scaleY(1.4);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-transform: translateY(-0.1rem);
        -ms-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--green {
    background-color: #EF6C00;
    color: white; }
    .btn--green::after {
      background-color: #EF6C00; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
